/* Selector */

*{
    padding: 0 auto;
    margin: 0 auto;

}

/* Selector de etiqueta */
body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100px;
    border: 1px solid black;
    margin-left: 9%;
    margin-right: 9%;
}

ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    float: center;
    padding:0 15px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Selector de ID */


#contenedor{
    width: 1000px;
    height: 900px;
    background-color: bisque;
}

#encabezado{
    padding: 15% auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(224, 201, 171);
}

#menu{
    padding: 5% auto;
    background-color: rgb(171,161,134);
    margin-top: lem 50%;
    
}

#seccion{
    padding: 64% auto;
    width: 74%;
    height: 40%;
    background-color: rgb(151,158,54);
    float: left;
}

#aside{
    display: flex;
    flex-direction: row;
    padding: 35% auto;
    width: 25%;
    height: 40%;
    background-color: rgb(190,193,79);
    float: right;
}

.contenedor_Imagen{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.texto_Lista2{
    float:left;
    font-size: small;
    text-align: left;
}

/* Selector de class */

.texto{
    text-align: justify;
    font-family: 'Century Gothic';
    font-size: 19px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2%;
}

.textplista1{
    font-size: 78%;

}
.texto_Aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
}

.texto_Pie{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

.artiuculo{
    display: flex;
    flex-wrap: wrap;
}

.pie{
    width: 1000px;
    background-color: rgb(230,200,149);
    font-family: Arial, Helvetica, sans-serif;
}